aiofiles==0.8.0
asgiref==3.4.1
click==8.0.1
colorama==0.4.4
Django==3.2.9
fastapi==0.66.0
greenlet==1.1.0
h11==0.12.0
image==1.5.33
importlib-metadata==4.6.1
Pillow==8.4.0
psycopg2==2.9.1
pydantic==1.8.2
python-multipart==0.0.5
pytz==2021.3
qrcode==7.3.1
qrtools==0.0.2
six==1.16.0
SQLAlchemy==1.4.20
sqlparse==0.4.2
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
zipp==3.5.0